*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  --fw-reg: 400;
  --fw-mid: 500;
  --fw-bold: 900;

  --orange: #ff7300;
  --blue: #0062ab;
  --white: #f8f9fa;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-p: 1rem;
}

@media (min-width: 900px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-p: 1.125rem;
  }
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
p {
  font-size: var(--fs-p);
}

/* nav bar */
header {
  padding-bottom: 10em;
}

ul {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-left {
  float: left;
  font-size: 1.25rem;
  font-weight: var(--fw-mid);
}

.nav-right {
  float: right;
  font-size: 1.7rem;
  padding: 0.7rem;
}

li a {
  text-decoration: none;
  display: block;
  color: var(--white);
  text-align: center;
}

.nav-link {
  padding: 1rem;
}

.nav-left:hover {
  background-color: var(--blue);
}

.nav-link:active {
  background-color: black;
}

/* home section */

section {
  max-width: 1000px;
  margin: auto;
}

.home {
  display: flex;
  justify-content: center;
}
.intro {
  min-width: 3em;
  max-width: 3em;
  border-right: solid 1px var(--orange);
}

.about {
  min-width: 5em;
  width: 16em;
  padding-left: 1em;
  padding-top: 1.15em;
}

.profile-img {
  display: block;
  max-width: 200px;
  margin: auto;
  padding-bottom: 18em;
}

@media (max-width: 900px) {
  .home {
    display: block;
  }

  .intro {
    border: none;
    margin: auto;
  }

  .about {
    padding-left: 0;
    margin: auto;
  }

  section {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .portfolio-img {
    display: flex;
    margin: auto;
  }

  .profile-img {
    padding-top: 1em;
    padding-bottom: 11em;
  }
}

/* projects section */

.section-title {
  text-align: center;
  padding-top: 1em;
  color: var(--orange);
}

.section-title::after {
  content: "";
  display: block;
  width: 4em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--orange);
}

.description {
  text-align: center;
  padding-bottom: 3em;
  color: var(--white);
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 0.7em;
  max-width: 60em;
  margin: auto;
  padding-bottom: 5em;
  position: relative;
  z-index: 2;
}

.portfolio-img {
  width: 20em;
  height: 20em;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), 250ms linear;
}

.portfolio-img:hover,
.portfolio-items:focus .portfolio-img {
  transform: scale(1.2);
}

#projects {
  background-color: black;
  background-image: url(img/bg.jpg);
  background-size: cover;
  min-width: 100%;
}

/* contact section */

form {
  border: 1px solid #888888;
  border-radius: 1%;
  max-width: 40em;
  padding: 1em;
  margin: auto;
  margin-bottom: 10em;
}

.form-label {
  display: inline-block;
  margin-bottom: 0.7em;
}

.form-input {
  width: 100%;
  resize: vertical;
}

.fi {
  height: 2em;
}

button {
  width: 100%;
  color: var(--white);
  background-color: var(--blue);
  border: 0;
  box-shadow: none;
  border-radius: 2px;
  line-height: 2.5em;
  cursor: pointer;
}

button:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

/* Scrollbar */

@media (max-width: 500px) {
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  margin-block-start: 3.5em;
  margin-block-end: 0.1em;
  background: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    0deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
body {
  overflow: overlay;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
